head
    link(rel='stylesheet', href='/stylesheets/style.css')

h1= title
p Welcome to #{title}

ul
  li: a(href= '/users/login') Login
  li: a(href= '/users/register') Register
  li: a(href= '/users/attendance') Attendance

